[Ll]ibrary/
[Tt]emp/
[Dd]ebug/
[Rr]elease/
[Dd]ebug_FFP/
[Rr]elease_FFP/
[Oo]bj/
[B]uild/
ipch/

memory_leak_report.txt
assimpLog.txt
UpgradeLog.XML

*.sdf
*.opensdf
*.suo
*.vcxproj.user

*.exe
*.unity3d
*.csproj
*.unityproj
*.sln
/*.userprefs
/*.pidb

*.lck

# AStyle Backup
*.orig

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
